/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/work/fade.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0; /* Initial state */
  animation: fadeIn 1s ease-in-out forwards;
}

h1 {
  text-align: center;
}

.title-Timeline {
  font-size: 23px;
}

.resume {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 900px) {
  .resume {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

