.contact-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  transition: transform 0.2s ease;
  text-decoration: none;
  color: white;
}

.contact-row:hover {
  cursor: ne-resize;
  text-decoration: none;
  color: inherit;
}

.contact-row-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-label {
  font-weight: bold;
}

.contact-value {
  font-style: italic;
}
