/* RoxboroughCF Thin */
@font-face {
  font-family: "RoxboroughCF";
  src: url("/fonts/RoxboroughCF-Thin.eot");
  src: url("/fonts/RoxboroughCF-Thin.woff2") format("woff2"),
    url("/fonts/RoxboroughCF-Thin.woff") format("woff"),
    url("/fonts/RoxboroughCF-Thin.eot?#iefix") format("embedded-opentype");
  font-weight: 100;
  font-style: normal;
}

/* RoxboroughCF Thin Italic */
@font-face {
  font-family: "RoxboroughCF-italic";
  src: url("/fonts/RoxboroughCF-ThinItalic.eot");
  src: url("/fonts/RoxboroughCF-ThinItalic.woff2") format("woff2"),
    url("/fonts/RoxboroughCF-ThinItalic.woff") format("woff"),
    url("/fonts/RoxboroughCF-ThinItalic.eot?#iefix") format("embedded-opentype");
  font-weight: 100;
  font-style: italic;
}

/* RoxboroughCF Regular */
@font-face {
  font-family: "RoxboroughCF-regular";
  src: url("/fonts/RoxboroughCF-Regular.eot");
  src: url("/fonts/RoxboroughCF-Regular.woff2") format("woff2"),
    url("/fonts/RoxboroughCF-Regular.woff") format("woff"),
    url("/fonts/RoxboroughCF-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}

/* RoxboroughCF Regular Italic */
@font-face {
  font-family: "RoxboroughCF-regularItalic";
  src: url("/fonts/RoxboroughCF-RegularItalic.eot");
  src: url("/fonts/RoxboroughCF-RegularItalic.woff2") format("woff2"),
    url("/fonts/RoxboroughCF-RegularItalic.woff") format("woff"),
    url("/fonts/RoxboroughCF-RegularItalic.eot?#iefix")
      format("embedded-opentype");
  font-weight: 400;
  font-style: italic;
}

/* RoxboroughCF Medium */
@font-face {
  font-family: "RoxboroughCF-medium";
  src: url("/fonts/RoxboroughCF-Medium.eot");
  src: url("/fonts/RoxboroughCF-Medium.woff2") format("woff2"),
    url("/fonts/RoxboroughCF-Medium.woff") format("woff"),
    url("/fonts/RoxboroughCF-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: 500;
  font-style: normal;
}

/* RoxboroughCF Medium Italic */
@font-face {
  font-family: "RoxboroughCF-mediumItalic";
  src: url("/fonts/RoxboroughCF-MediumItalic.eot");
  src: url("/fonts/RoxboroughCF-MediumItalic.woff2") format("woff2"),
    url("/fonts/RoxboroughCF-MediumItalic.woff") format("woff"),
    url("/fonts/RoxboroughCF-MediumItalic.eot?#iefix")
      format("embedded-opentype");
  font-weight: 500;
  font-style: italic;
}

/* RoxboroughCF Light */
@font-face {
  font-family: "RoxboroughCF-light";
  src: url("/fonts/RoxboroughCF-Light.eot");
  src: url("/fonts/RoxboroughCF-Light.woff2") format("woff2"),
    url("/fonts/RoxboroughCF-Light.woff") format("woff"),
    url("/fonts/RoxboroughCF-Light.eot?#iefix") format("embedded-opentype");
  font-weight: 300;
  font-style: normal;
}

/* RoxboroughCF Light Italic */
@font-face {
  font-family: "RoxboroughCF-lightItalic";
  src: url("/fonts/RoxboroughCF-LightItalic.eot");
  src: url("/fonts/RoxboroughCF-LightItalic.woff2") format("woff2"),
    url("/fonts/RoxboroughCF-LightItalic.woff") format("woff"),
    url("/fonts/RoxboroughCF-LightItalic.eot?#iefix")
      format("embedded-opentype");
  font-weight: 300;
  font-style: italic;
}

/* RoxboroughCF Bold */
@font-face {
  font-family: "RoxboroughCF-bold";
  src: url("/fonts/RoxboroughCF-Bold.eot");
  src: url("/fonts/RoxboroughCF-Bold.woff2") format("woff2"),
    url("/fonts/RoxboroughCF-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* RoxboroughCF Bold Italic */
@font-face {
  font-family: "RoxboroughCF-boldItalic";
  src: url("/fonts/RoxboroughCF-BoldItalic.eot");
  src: url("/fonts/RoxboroughCF-BoldItalic.woff2") format("woff2"),
    url("/fonts/RoxboroughCF-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

/* RoxboroughCF Demi Bold */
@font-face {
  font-family: "RoxboroughCF-demiBold";
  src: url("/fonts/RoxboroughCF-DemiBold.eot");
  src: url("/fonts/RoxboroughCF-DemiBold.woff2") format("woff2"),
    url("/fonts/RoxboroughCF-DemiBold.woff") format("woff"),
    url("/fonts/RoxboroughCF-DemiBold.eot?#iefix") format("embedded-opentype");
  font-weight: 600;
  font-style: normal;
}

/* RoxboroughCF Demi Bold Italic */
@font-face {
  font-family: "RoxboroughCF-demiBoldItalic";
  src: url("/fonts/RoxboroughCF-DemiBoldItalic.eot");
  src: url("/fonts/RoxboroughCF-DemiBoldItalic.woff2") format("woff2"),
    url("/fonts/RoxboroughCF-DemiBoldItalic.woff") format("woff"),
    url("/fonts/RoxboroughCF-DemiBoldItalic.eot?#iefix")
      format("embedded-opentype");
  font-weight: 600;
  font-style: italic;
}

/* RoxboroughCF Extra Bold */
@font-face {
  font-family: "RoxboroughCF-extraBold";
  src: url("/fonts/RoxboroughCF-ExtraBold.eot");
  src: url("/fonts/RoxboroughCF-ExtraBold.woff2") format("woff2"),
    url("/fonts/RoxboroughCF-ExtraBold.woff") format("woff"),
    url("/fonts/RoxboroughCF-ExtraBold.eot?#iefix") format("embedded-opentype");
  font-weight: 800;
  font-style: normal;
}

/* RoxboroughCF Extra Bold Italic */
@font-face {
  font-family: "RoxboroughCF-extraBoldItalic";
  src: url("/fonts/RoxboroughCF-ExtraBoldItalic.eot");
  src: url("/fonts/RoxboroughCF-ExtraBoldItalic.woff2") format("woff2"),
    url("/fonts/RoxboroughCF-ExtraBoldItalic.woff") format("woff"),
    url("/fonts/RoxboroughCF-ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype");
  font-weight: 800;
  font-style: italic;
}

/* RoxboroughCF Heavy */
@font-face {
  font-family: "RoxboroughCF-heavy";
  src: url("/fonts/RoxboroughCF-Heavy.eot");
  src: url("/fonts/RoxboroughCF-Heavy.woff2") format("woff2"),
    url("/fonts/RoxboroughCF-Heavy.woff") format("woff"),
    url("/fonts/RoxboroughCF-Heavy.eot?#iefix") format("embedded-opentype");
  font-weight: 900;
  font-style: normal;
}

/* RoxboroughCF Heavy Italic */
@font-face {
  font-family: "RoxboroughCF-heavyItalic";
  src: url("/fonts/RoxboroughCF-HeavyItalic.eot");
  src: url("/fonts/RoxboroughCF-HeavyItalic.woff2") format("woff2"),
    url("/fonts/RoxboroughCF-HeavyItalic.woff") format("woff"),
    url("/fonts/RoxboroughCF-HeavyItalic.eot?#iefix")
      format("embedded-opentype");
  font-weight: 900;
  font-style: italic;
}
body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  height: 100vh; /* Use 100vh to ensure it takes the full viewport height */
  margin: 0;
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  flex-direction: column; /* Ensures that elements in the body stack vertically */
}

@media (max-width: 768px) {
  body {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 24px;
  }
}

.logo {
  padding-left: 1%;
  padding-top: 1%;
  text-align: center;
}

.logo img {
  max-width: 90%;
  height: auto;
}

@media (max-width: 768px) {
  .logo img {
    max-width: 80%;
  }
}

/* Container to center the letter content */
.letter-container {
  max-width: 550px;
  padding: 20px;
  text-align: left; /* Ensures text is aligned left inside the container */
  word-spacing: 0.05rem;
  color: rgb(233, 233, 233);
}

/* Specific styles for the letter text */
.letter-container h1 {
  font-family: "Georgia", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1.2rem;
  margin-bottom: 1rem; /* Adjust margin as needed */
}

.letter-container p {
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem; /* Spacing between paragraphs */
}

.styled-text {
  font-family: "Georgia", sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  text-decoration: underline;
  text-underline-offset: 2px;
  color: #ffe3a8ec;
}

.ne-resize-link {
  cursor: ne-resize;
  text-decoration: none;
  color: inherit;
}

.styled-text:hover {
  cursor: ne-resize; /* Northeast resize cursor on hover */
}

/* Social Icons Container */
.social-icons-container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 1rem; /* Adjust margin as needed */
  gap: 1rem;
  flex-wrap: wrap;
  transform: translateY(3px);
}

/* Individual Social Icon Styling */
.social-icon {
  color: white; /* White color for all icons */
  font-size: 1.2rem; /* Matches the font size of the text */
  transition: all 0.3s ease-in-out;
}

.social-icon:hover {
  color: #cccccc; /* Slightly darker white for hover effect */
  cursor: ne-resize;
}

/* Responsive Design */
@media (max-width: 768px) {
  .social-icons-container {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.inline-container {
  display: inline;
  align-items: center;
  gap: 0.5rem; /* Space between text and icons */
}

.inline-icons {
  display: inline-flex;
  gap: 0.5rem; /* Space between individual icons */
}
