body {
  background-color: rgb(235, 235, 235);
  color: black;
  font-family: "Roxborough CF";
}

@media (max-width: 600px) {
  .logo-container {
    top: 5px;
    left: 5px;
  }

  .logo-container img {
    width: 40px; /* Smaller logo size */
    height: 40px;
  }
}
