/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/fade.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0; /* Initial state */
  animation: fadeIn 2s ease-in-out forwards;
}

.fade-inn {
  opacity: 0; /* Initial state */
  animation: fadeIn 0.2s ease-in-out forwards;
}

.fade-in:nth-of-type(1) {
  animation-delay: 0.2s;
}

.fade-in:nth-of-type(2) {
  animation-delay: 0.2s;
}

.fade-in:nth-of-type(3) {
  animation-delay: 0.2s;
}

@media (max-width: 1024px) {
  .hidden-on-small {
    display: none;
  }
}

